<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmLabourScheduling"
        tools:targetApi="31">
        <activity
            android:name=".LABOUR.LabourWorksheduldetails"
            android:exported="false" />
        <activity
            android:name=".FARMER.PostDetails"
            android:exported="false" />
        <activity
            android:name=".FARMER.Waitingdetails"
            android:exported="false" />
        <activity
            android:name=".FARMER.DetailsRequest"
            android:exported="false" />
        <activity
            android:name=".FARMER.RequestDetails"
            android:exported="false" />
        <activity
            android:name=".FARMER.AboutUs"
            android:exported="false" />
        <activity
            android:name=".FARMER.AllPostwork"
            android:exported="false" />
        <activity
            android:name=".FARMER.waitingrequest"
            android:exported="false" />
        <activity
            android:name=".FARMER.Allrequest"
            android:exported="false" />
        <activity
            android:name=".LABOUR.WorkDetails"
            android:exported="false" />
        <activity
            android:name=".ADMIN.AdminHomepage"
            android:exported="false"
            android:theme="@style/showactionbar" />
        <activity
            android:name=".LABOUR.LabourHomepage"
            android:exported="false"
            android:theme="@style/showactionbar" />
        <activity
            android:name=".FARMER.FarmerHomepage"
            android:exported="false"
            android:theme="@style/showactionbar" />
        <activity
            android:name=".LabourRegister"
            android:exported="false" />
        <activity
            android:name=".Farmerregiter"
            android:exported="false" />
        <activity
            android:name=".languageSelect"
            android:exported="false" />
        <activity
            android:name=".selectcategory"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Splashactivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>